---
import LOGO from '~/assets/images/logo.svg';
---

<div class="logodiv">
  <img src={LOGO.src} width={LOGO.width} height={LOGO.height} class="max-w-20 dark:invert" />
</div>

<style>
  .logodiv {
    fill: blue;
  }
</style>
